*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #F6F5F1;
    color: #32322F;
    line-height: 1.6;
}

header{
    text-align: center;
    margin-bottom: 40px;
}
header h1{
    margin-top: 10px;
    font-size: 2.5em;
    margin-bottom: 10px;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
main p{
    font-size: 1.1em;
    margin-bottom: 20px;
    color:#30302C;
}
main span{
    font-size: 1.2em;
    color: #555554;
}

.img-containers{
    display: flex;
    margin:100px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.img-content{
    display: flex;
    gap: 20px;
}

.img-box1{
    border-radius: 10px;
}
.img-box1 img{
    width: 290px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box1 img:hover{
    transform: scale(1.05);
}
.img-box2{
    border-radius: 10px;
}
.img-box2 img{
    width: 500px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box2 img:hover{
    transform: scale(1.05);
}

.img-box3{
    border-radius: 10px;
}
.img-box3 img{
    width: 340px;
    height: 300px;
    transition: transform 0.3s ease;
}

.img-box3 img:hover{
    transform: scale(1.05);
}
.img-box4{
    border-radius: 10px;
}

.img-box4 img{
    width: 480px;
        height: 300px;
        transition: transform 0.3s ease;
}
.img-box4 img:hover{
    transform: scale(1.05);
}

.img-box5{
    border-radius: 10px;
}
.img-box5 img{
    width: 350px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box5 img:hover{
    transform: scale(1.05);
}

.img-box6{
    border-radius: 10px;
}
.img-box6 img{
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box6 img:hover{
    transform: scale(1.05);
}
.divider{
    background-color: #222222;    
    align-items: center;
}

.divider hr{
    border: none;
    height: 2px;
}

.img-containers-black{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin:80px;
    overflow: hidden;
}

.img-box7{
    border-radius: 10px;
}
.img-box7 img{
    width: 365px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box7 img:hover{
    transform: scale(1.05);
}

.img-box8{
    border-radius: 10px;
}
.img-box8 img{
    width: 450px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box8 img:hover{
    transform: scale(1.05);
}
.img-box9{
    border-radius: 10px;
}
.img-box9 img{
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box9 img:hover{
    transform: scale(1.05);
}
.img-box10{
    border-radius: 10px;
}
.img-box10 img{
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box10 img:hover{
    transform: scale(1.05);
}
.img-box11{
    border-radius: 10px;
}
.img-box11 img{
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box11 img:hover{
    transform: scale(1.05);
}
.img-box12{
    border-radius: 10px;
}
.img-box12 img{
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box12 img:hover{
    transform: scale(1.05);
}

.img-box13{
    border-radius: 10px;
}
.img-box13 img{
    width: 540px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box13 img:hover{
    transform: scale(1.05);
}
.img-box14{
    border-radius: 10px;

}
.img-box14 img{
    width: 545px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box14 img:hover{
    transform: scale(1.05);
}
.img-box15{
    border-radius: 10px;
}
.img-box15 img{
    width: 450px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box15 img:hover{
    transform: scale(1.05);
}

.img-box16{
    border-radius: 10px;
}
.img-box16 img{
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box16 img:hover{
    transform: scale(1.05);
}


.img-box17{
    border-radius: 10px;
}
.img-box17 img{
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box17 img:hover{
    transform: scale(1.05);
}

.more-info{
    text-align: center;
    margin: 40px 0;
}
.more-info a{
    text-decoration: none;
    color: #DADADB;
    background-color: #333332;
    padding: 15px 35px;
    transition: background-color 0.3s ease;
    text-align: center;

}
.more-info a:hover{
    background-color: #555554;
}

footer{
    text-align:left;
    padding: 20px 0;
    color: #EDECED;
    margin-top: 90px;
    margin-left: 120px;

}
footer span{
    color: #A9A8A9;
    border-bottom:white 1px solid;
}