*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #F6F5F1;
    color: #32322F;
    line-height: 1.6;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 40px;
}
header h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
main p{
    font-size: 1.1em;
    margin-bottom: 20px;
    color:#30302C;
}
main span{
    font-size: 1.2em;
    color: #555554;
}

.img-containers{
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}
.img-content{
    display: flex;
    gap: 20px;
}

.img-box1{
    border-radius: 10px;
}
.img-box1 img{
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box1 img:hover{
    transform: scale(1.05);
}
.img-box2{
    border-radius: 10px;
}
.img-box2 img{
    width: 550px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box2 img:hover{
    transform: scale(1.05);
}

.img-box3{
    border-radius: 10px;
}
.img-box3 img{
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease;
}

.img-box3 img:hover{
    transform: scale(1.05);
}
.img-box4{
    border-radius: 10px;
}

.img-box4 img{
    width: 550px;
        height: 300px;
        transition: transform 0.3s ease;
}
.img-box4 img:hover{
    transform: scale(1.05);
}

.img-box5{
    border-radius: 10px;
}
.img-box5 img{
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box5 img:hover{
    transform: scale(1.05);
}

.img-box6{
    border-radius: 10px;
}
.img-box6 img{
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
}
.img-box6 img:hover{
    transform: scale(1.05);
}