*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #F6F5F1;
    color: #32322F;
    line-height: 1.6;
    padding: 20px;
}
